

   .text {
    font-size:2vw;
    font-family: 'Archivo Black', sans-serif;
    color: orange;
}
img, .text {
    display: inline;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
  